section#products {
  margin: 0 auto;
  max-width: $siteWidthDesktop;
  padding: 0 10px;
  h1 {
    text-align: center;
    font-size: 40px;
  }
  ul {
    /* FLEX STYLE */
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

    /* GRID STYLE */
    /*
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width: 800px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }
    */

    padding: 0;

    li {
      @include productBoxStyle(#eee, rgb(33, 33, 92), #555);
      transition: transform 0.15s ease-in-out, background 0.3s ease-in-out;
      &:hover {
        background: $yellow;
        transform: scale(1.1);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }
      flex: 1;
      a {
        text-decoration: none;
        h2 {
          margin: 0;
          padding-bottom: 10px;
        }
        p {
          margin: 0;
        }
      }
    }
  }
}
