@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Sansita+Swashed:wght@400;700&display=swap');
// hidden comment
/* variables as css */
:root {
  --color-gray: #e1e1e1;
  --color-black: #333333;
  --font-main: 'Sansita Swashed';

  --background-default: var(--color-gray);
  --color-default: var(--color-black);
}

/* variables as sass */
$brightpink: #f0377f;
$footerColor: #444444;

$headingBackground: $brightpink;

$yellow: rgb(255, 238, 139);

$siteWidthDesktop: 1200px;
